  <div ng-controller="SignupController as signup">
    <fieldset>
      <legend>SignUp</legend>
      <form name='signupForm' novalidate>

        <input type="text" name="firstname" placeholder="First name"
          ng-model="signup.user.firstname"
          required
          minlength="2"
          ng-maxlength="10">
          <!-- {{ signup.user.firstname }} -->
          <span
            ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
            First name must be at least 2 characters long
          </span>
          <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
            First name must not be longer than 10 characters
          </span>
          <br>
        <input type="text" name="lastname" placeholder="Last name"
          ng-model="signup.user.lastname"
          required
          minlength="2"
          ng-maxlength="10">
          <!-- {{ signup.user.lastname }} -->
          <span
            ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
            Last name must be at least 2 characters long
          </span>
          <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
            Last name must not be longer than 10 characters
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signup.user.email"
          required>
          <!-- {{ signup.user.email }} -->
          <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signup.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <!-- {{ signup.user.phone }} -->
          <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="short_name" placeholder="Favorite Menu"
          ng-model="signup.user.short_name" 
          ng-pattern="/^[A-Z]+[1-9][0-9]*/"
          required>
          <!-- {{ signup.user.short_name }} -->
          <!-- {{signupForm.short_name.$valid}} -->
          <span ng-if="signupForm.short_name.$invalid && signupForm.short_name.$touched">
            Favorite menu must be something in the menu items.
          </span>
          <span ng-if="signup.not_found">
            No such menu number exists.
          </span>
          <br>

        <button
          ng-disabled="signupForm.$invalid"
          ng-click="signup.submit()">SUBMIT</button>

 <!--          <div style="margin-top: 10px;">h
            Form valid? {{ signupForm.$valid }}
          </div> -->
      </form>
    </fieldset>

<!--     <div id="info" ng-if="signup.completed" && false>
      Username: {{ signup.user.firstname}} {{ signup.user.lastname}} <br>
      Email: {{ signup.user.email}} <br>
      Phone:    {{ signup.user.phone }} <br>
      short_name: {{ signup.user.short_name  }} <br>
      menu_all: {{ data }}
  	</div> -->
  	<div ng-if="signup.completed">
      <h1>Your information has been saved.</h1>
    </div>

  </div>